<div class="row ">
  <div class="col-xs-12 ">
    <div class="cookinfo">
  <%= cl_image_tag user.photo, class: "avatarcustomized", id: "navbar-wagon-menu", 'data-toggle': "dropdown" %>
  <%= user.username %>
  </div>
 </div>
</div>

<div class="row">
    <% user.meals.each do |meal| %>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="meal-card">

          <div class="small-meal-card-image" style="background-image: url('<%= cl_image_path meal.pictures.first.url.url %>');">
          </div>

          <div class="small-meal-card-content">
            <div class="meal-card-title">
              <h4><%= meal.title %></h4>
              <p> <i class="fas fa-utensils"></i> <%= meal.category %></p>
            </div>
            <div class="flex">
              <p>Price: <%= humanized_money_with_symbol(meal.price) %>
              </p>
            </div>
          </div>
          <%= link_to '', meal_path(meal), class: "card-link" %>

        </div>
      </div>
    <% end %>
</div>
