<div class="container">

<% if params[:id].to_i == current_user.id %>

<h1>Your profile</h1>
  <div class="row profilerow">
  <!-- User info -->
   <div class="profileleft col-xs-6 col-sm-6 col-md-6">
    <h4>personal info:</h4>
      <div>
        <%= cl_image_tag current_user.photo, height: 100, width: 100, crop: :fill, class: "mediumavatar", default_image: "circled-user.png" %>
      </div>
      <div>
        <ul>
           <li>name :<%= current_user.try(:first_name) %> <%= current_user.try(:last_name) %> </li>
           <li>birthday :<%= current_user.try(:birthday) %></li>
           <li>email :<%= current_user.try(:email) %></li>
           <li>password : ******</li>
           <li>member since :<%= current_user.created_at.strftime("%d/%m/%Y") %></li>
           <li>username :<%= current_user.try(:username) %></li>
           <li>description :<%= current_user.try(:description) %></li>
           <li>phonenumber :<%= current_user.try(:phonenumber) %></li>
           <li>address :<%= current_user.try(:address) %></li>
           <li>verified ? <%= current_user.try(:verified) %></li>
           <li>user id <%= current_user.id %></li>

        </ul>
    </div>
      <div>
          <%= link_to 'Update profile', edit_user_registration_path, class: "btn btn-success" %>
      </div>
   </div>
   <div class="row profilerow">
  <!-- User info -->
   <div class="profileleft col-xs-6 col-sm-6 col-md-6">
    <h4>My reviews:</h4>
    <% if !@average_rating.nil? %>
      <h6>Overall rating: <%= @average_rating %> </h6>
      <p>Your reviews</p>
      <% current_user.cook_reviews.each do |review| %>
      <ul>
        <li>Rating: <%= review.rating %>
        <br>
        Details: <%= review.content %>
        <br>
        Meal: <%= review.meal.title %>
        <br>
        Date: <%= review.created_at %></li>
      </ul>
      <% end %>
      <%else %>
      <p>You don't have any reviews yet.</p>
      <% end %>
    </div>
    <div class="profileleft col-xs-6 col-sm-6 col-md-6">
    <h4>My earnings:</h4>
      <h6>Total earnings: <%= @average_rating %> </h6>
      <% current_user.cook_reviews.each do |review| %>
      <ul>
        <li>Rating: <%= review.rating %>
        <br>
        Details: <%= review.content %>
        <br>
        Meal: <%= review.meal.title %>
        <br>
        Date: <%= review.created_at %></li>
      </ul>
      <% end %>
    </div>

   </div>

  <!-- Cards -->
  <div class="profileright col-xs-6 col-sm-6 col-md-6">
    <h4>Your past meals:</h4>
    <% @inactive_meals.each do |meal| %>
      <div class="col-xs-2 col-sm-3 col-md-3">
        <div class="small-meal-card">
          <div class="small-meal-card-image" style="background-image: url('<%= cl_image_path meal.pictures.first.url.url %>');">
          </div>
            <div class="small-meal-card-content">
              <div class="meal-card-title">
                <h4><%= link_to meal.title, meal_path(meal), :class => "text-dark" %></h4>
                <p><%= meal.category %></p>
              </div>
              <div class="flex">
                <p><i class="fas fa-utensils"></i>
                Price: <%= humanized_money_with_symbol(meal.price) %>
                </p>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="profileright col-xs-6 col-sm-6 col-md-6">
    <h4>Your current meals:</h4>
    <% @active_meals.each do |meal| %>
      <div class="col-xs-2 col-sm-3 col-md-3">
        <div class="small-meal-card">
          <div class="small-meal-card-image" style="background-image: url('<%= cl_image_path meal.pictures.first.url.url %>');">
          </div>
            <div class="small-meal-card-content">
              <div class="meal-card-title">
                <h4><%= link_to meal.title, meal_path(meal), :class => "text-dark" %></h4>
                <p><%= meal.category %></p>
              </div>
              <div class="flex">
                <p><i class="fas fa-utensils"></i>
                Price: <%= humanized_money_with_symbol(meal.price) %>
                </p>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
 </div>

<% else %>

  <!-- cook info -->

<h1>More info on your cook: <%= @cook.username %> </h1>
  <div class="row profilerow">

   <div class="profileleft col-xs-6 col-sm-6 col-md-6">
    <h2>basic info:</h2>
        <div>
          <%= cl_image_tag @cook.photo, height: 100, width: 100, crop: :fill, class: "mediumavatar", default_image: "circled-user.png" %>
        </div>

        <div>
          <ul>
             <li>name :<%= @cook.try(:first_name) %> <%= @cook.try(:last_name) %> </li>
              <li>member since :<%= @cook.created_at.strftime("%d/%m/%Y") %></li>
              <li>user id :<%= @cook.id %></li>
        </div>
   </div>

   <div class="profileright col-xs-6 col-sm-6 col-md-6">
        <div class="mealreviews">
            <h2><%= "#{@cook.username.capitalize}'s past reviews"  %></h2>
            <% @cook.cook_reviews.each do |review|%>
              <ul>
                 <li><%=review.rating %></li>
                 <li><%=review.content %></li>
              </ul>
              <% end %>
        </div>
   </div>

 </div>
<% end %>
</div>
