<div class="container">
 <div class="user-input-form">
  <h1>Please complete your profile information</h1>
  <%= simple_form_for(@user, as: @user, url: user_registration_path(@user), html: { method: :patch }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :first_name, required: true, autofocus: true %>
    <%= f.input :last_name, required: true, ainput_html: { autocomplete: "last_name" } %>
    <%= f.input :address, required: true, input_html: { autocomplete: "address" } %>
    <%= f.input :phonenumber, required: true, input_html: { autocomplete: "phone number" } %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>
</div>
  <header>
    <i class="fa fa-bars" aria-hidden="true"></i>
  </header>
  <main>
    <div class="row">
      <div class="left col-lg-4">
        <div class="photo-left">
          <img class="photo" <%= cl_image_tag @user.photo %>
        </div>
        <h4 class="name">@user.first_name</h4>
        <p class="info">@user.location</p>
        <p class="info">@user.member_since</p>
        <div class="stats row">
          <div class="stat col-xs-4" style="padding-right: 50px;">
            <p class="number-stat">3,619</p>
            <p class="desc-stat">Followers</p>
          </div>
          <div class="stat col-xs-4">
            <p class="number-stat">42</p>
            <p class="desc-stat">Following</p>
          </div>
          <div class="stat col-xs-4" style="padding-left: 50px;">
            <p class="number-stat">38</p>
            <p class="desc-stat">Uploads</p>
          </div>
        </div>
        <p class="desc"><%= @user.description %></p>
        <div class="social">
          <i class="fab fa-facebook" aria-hidden="true"></i>
          <i class="fab fa-twitter" aria-hidden="true"></i>
          <i class="fab fa-pinterest" aria-hidden="true"></i>
          <i class="fab fa-tumblr" aria-hidden="true"></i>
        </div>
      </div>
      <div class="right col-lg-8">
        <div class="user-info">
        </div>
        <ul class="nav">
          <li>Gallery</li>
          <li>About</li>
          <li>Reviews</li>
        </ul>
        <div class="row gallery">
          <div class="col-md-4">
             <img src="https://image.noelshack.com/fichiers/2017/38/2/1505774813-photo4.jpg"/>
          </div>
          <div class="col-md-4">
            <img src="https://image.noelshack.com/fichiers/2017/38/2/1505774814-photo5.jpg"/>
          </div>
          <div class="col-md-4">
             <img src="https://image.noelshack.com/fichiers/2017/38/2/1505774814-photo6.jpg"/>
          </div>
          <div class="col-md-4">
             <img src="https://image.noelshack.com/fichiers/2017/38/2/1505774817-photo1.jpg"/>
          </div>
          <div class="col-md-4">
            <img src="https://image.noelshack.com/fichiers/2017/38/2/1505774815-photo2.jpg"/>
          </div>
          <div class="col-md-4">
            <img src="https://image.noelshack.com/fichiers/2017/38/2/1505774816-photo3.jpg"/>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12">
          <h3 class="About">About</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
        </div>
        <div class="col-xs-12 col-sm-12">
          <h3 class="reviews">Reviews</h3>
        </div>

      </div>
  </main>
</div>
