<div class="container-show">
  <div class="row">
    <% if params[:id].to_i == current_user.id %>
      <h1>Your profile</h1>

    <!-- left column -->
    <div class="col-xs-6">
        <!-- User info -->

    <div class="mealreviews">
      <div class="mealreviewsheaders">
        <h4>Personal Info</h4>
        <div>
        <%= cl_image_tag current_user.photo, height: 100, width: 100, crop: :fill, class: "mediumavatar", default_image: "circled-user.png" %>
        </div>
      </div>
      <div class="mealreviewscontentleft">
           <p>Name: <%= current_user.try(:first_name) %> <%= current_user.try(:last_name) %></p>
          <!--  <li>birthday :<%= current_user.try(:birthday) %></li> -->
           <p>Email: <%= current_user.try(:email) %></p>
          <!--  <li>password : ******</li> -->
           <p>Member Since: <%= current_user.created_at.strftime("%d/%m/%Y") %></p>
           <p>Username: <%= current_user.try(:username) %></p>
           <!-- <li>description :<%= current_user.try(:description) %></li> -->
           <p>Phone number :<%= current_user.try(:phonenumber) %></p>
           <p>Address: <%= current_user.try(:address) %></p>
           <!-- <li>verified ? <%= current_user.try(:verified) %></li> -->
           <!-- <li>user id <%= current_user.id %></li> -->
      </div>
      <div class= "customitemalignedright">
          <%= link_to 'Update Profile', edit_user_registration_path, class: "btn btn-success" %>
      </div>
    </div>

 <!-- active meals -->
    <div class="mealreviews">

      <div class="mealreviewsheaders">
      <h4>My current meals:</h4>
      </div>

      <div class="mealreviewscontent">
      <% @active_meals.each do |meal| %>
        <div class="col-xs-2 col-sm-3 col-md-3">
          <div class="small-meal-card">
            <div class="small-meal-card-image" style="background-image: url('<%= cl_image_path meal.pictures.first.url.url %>');">
            </div>
              <div class="small-meal-card-content">
                <div class="meal-card-title">
                  <h4><%= link_to meal.title, meal_path(meal), :class => "text-dark" %></h4>
                  <p><%= meal.category %></p>
                </div>
                <div class="flex">
                  <p><i class="fas fa-utensils"></i>
                  Price: <%= humanized_money_with_symbol(meal.price) %>
                  </p>
                </div>
              </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>

  <!-- inactive meals -->
   <div class="mealreviews">

      <div class="mealreviewsheaders">
        <h4>My past meals:</h4>
      </div>

      <div class="mealreviewscontent">
      <% @inactive_meals.each do |meal| %>
        <div class="col-xs-2 col-sm-3 col-md-3">
          <div class="small-meal-card">
            <div class="small-meal-card-image" style="background-image: url('<%= cl_image_path meal.pictures.first.url.url %>');">
            </div>
              <div class="small-meal-card-content">
                <div class="meal-card-title">
                  <h4><%= link_to meal.title, meal_path(meal), :class => "text-dark" %></h4>
                  <p><%= meal.category %></p>
                </div>
                <div class="flex">
                  <p><i class="fas fa-utensils"></i>
                  Price: <%= humanized_money_with_symbol(meal.price) %>
                  </p>
                </div>
              </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
 </div>

   <!-- Right column -->
   <div class="col-xs-6">

    <!-- Earnings -->
    <div class="mealreviews">

      <div class="mealreviewsheaders" >
        <h4>My Earnings</h4>
      </div>
      <div class="mealreviewscontent" id="fancychart">
        <h1>1,800 DHS</h1>
        <h3>December 2018 Earnings</h3>
        <canvas id="earningsChart" ></canvas>
      </div>

   </div>

    <!-- Meal reviews -->
    <div class="mealreviews">

      <div class="mealreviewsheaders">
      <h4>My Reviews</h4>
      </div>

      <div class="mealreviewscontent">
        <% if !@average_rating.nil? %>
          <h6>Overall rating: <%= @average_rating %> </h6>
          <p>My reviews</p>
            <% current_user.cook_reviews.each do |review| %>
            <ul>
              <li>Rating: <%= review.rating %>
              <br>
              Details: <%= review.content %>
              <br>
              Meal: <%= review.meal.title %>
              <br>
              Date: <%= review.created_at %></li>
            </ul>
            <% end %>
        <%else %>
          <p>You don't have any reviews yet.</p>
        <% end %>
      </div>

    </div>

    </div>
   <!-- end of right column -->

<% else %>

  <!-- cook public info -->

<h1>More info on your cook: <%= @cook.username %> </h1>
  <div class="row profilerow">

   <div class="profileleft col-xs-6 col-sm-6 col-md-6">
    <h2>basic info:</h2>
        <div>
          <%= cl_image_tag @cook.photo, height: 100, width: 100, crop: :fill, class: "mediumavatar", default_image: "circled-user.png" %>
        </div>

        <div>
          <ul>
             <li>name :<%= @cook.try(:first_name) %> <%= @cook.try(:last_name) %> </li>
              <li>member since :<%= @cook.created_at.strftime("%d/%m/%Y") %></li>
              <li>user id :<%= @cook.id %></li>
          </ul>
        </div>
   </div>

   <div class="profileright col-xs-6 col-sm-6 col-md-6">
        <div class="mealreviews">
            <h2><%= "#{@cook.username.capitalize}'s past reviews"  %></h2>
            <% @cook.cook_reviews.each do |review|%>
              <ul>
                 <li><%=review.rating %></li>
                 <li><%=review.content %></li>
              </ul>
              <% end %>
        </div>
   </div>

<% end %>
 </div>
</div>
<% content_for :scripts do %>
  <%= javascript_pack_tag "chart" %>
<% end %>
