

<div class="container mt-3">
  <h1>My orders</h1>
  <div class="row">
  <% @orders.each do |order| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="meal-card">
    <p>Date: <%= order.updated_at %></p>
    <% order.items.each do |item| %>
    <p> <strong><%=item.meal.title %></strong>  Quantity: <%=item.quantity %>  Sub-total <%= humanized_money_with_symbol(item.meal.price * item.quantity) %></p>
    <% end %>
    <p>Order total: <%= humanized_money_with_symbol(order.amount_cents/100)  %></p>
    <% end %>
  </div>
    </div>
  </div>
</div>
