<div class="container">
  <div class="row">
    <div class="col-xs-12">

        <% if @order.id.nil? %>
        <div class= "text-center">
          <h1>Your basket is empty.</h1>
          <h1><i class="fas fa-shopping-basket"></i></h1>
          <div>
           <%= link_to 'Browse Meals', meals_path, class: "btn btn-success" %>
          </div>
        </div>

        <% else %>
        <div>
            <% @order.items.each do |item| %>
            <article class="product">
              <header>
              <div class="meal-card-image" style="background-image: url('<%= cl_image_path item.meal.pictures.first.url.url %>');">
              </div>
              </header>
                <div>
                  <h1><%= item.meal.title %></h1>
                  <p><%= item.meal.description %></p>
                  <p> Quantity: <%= item.quantity %></p>
                  <p> total: <%= item.meal.price * item.quantity %> </p>
                </div>
            </article>
            <% end %>

            <div class= "coloredh1">
              <h1>Total: <%= @total %>DHS</h1>
            </div>

            <div class= "alignedbuttonsboxcenter">
              <div>
                <%= link_to 'Delete order', order_path(@order.id), method: :delete, class: "btn btn-danger"%>
              </div>
              <div>
                <%= link_to 'Checkout', payment_order_path, class: "btn btn-success" %>
              </div>
              <div>
                <%= link_to 'Back to Meals', meals_path, class: "btn btn-success" %>
              </div>
            </div>

          </div>
        <% end %>

    </div>
  </div>
</div>
