<h1>Your Cart</h1>

<% if @order.nil? %>
<p>Your order is empty</p>
<% else %>
  <ul>
    <% @order.items.each do |item| %>
    <li>Item: <%= item.meal.title %> Quantity : <%= item.quantity %> </li>
    <% end %>
  <ul>

  <p>Order total: <%= @total %></p>
  <% end %>

  <div class="buttons">
    <%= link_to 'Proceed to payment', payment_order_path, class: "btn btn-primary" %>
  </div>

    <div class="buttons">
    <%= link_to 'Delete order', order_path, method: :delete, class: "btn btn-primary" %>
  </div>

    <div class="buttons">
    <%= link_to 'add more meals', meals_path, class: "btn btn-primary" %>
  </div>


