<div class="banner_meal">
  <div class="container" >
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-sm-offset-3" id="signup-form">
        <%= simple_form_for(@meal) do |f| %>
        <% if @meal.errors.any? %>
          <% @meal.errors.full_messages.each do |m| %>
            <p><%= m %></p>
          <% end %>
        <% end %>
        <h1>Edit your Meal</h1>
        <br>
          <%= f.input :title %>
          <%= f.input :price, label: "Price"%>
          <%= f.input :category, as: :select, label: "Category", collection: ["appetizer", "main course", "dessert", "side", "other"]%>
          <%= f.input :description, label: 'Meal Description' %>
          <%= f.input :maxservings, label: 'Max Servings' %>
          <%= f.input :shelflife, label: 'Shelf Life (Days)' %>
          <br>
          <%= f.submit "Update", class: "btn btn-success" %>
        <% end %>
        <br>
      </div>
    </div>
  </div>
</div>
