  <div class="wrap">
      <div class="container-fluid">

      <div class= "row">
        <div class="col-xs-offset-7  col-xs-5">
      <%= link_to 'view map full sreen', users_path, class: "btn btn-success map-button" %>
        </div>
      </div>

        <!-- Cards -->
        <div class="row">

          <div class="col-xs-7"">
            <% @meals.where(published: true).each do |meal| %>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="meal-card">
                  <div class="meal-card-image" style="background-image: url('<%= cl_image_path meal.pictures.first.url.url %>');">
                  </div>
                    <div class="meal-card-content">
                      <div class="meal-card-title">
                        <h4><%= meal.title %></h4>
                        <p> <i class="fas fa-utensils"></i> <%= meal.category %></p>
                      </div>
                      <div class="flex">
                        <p>Price: <%= humanized_money_with_symbol(meal.price) %>
                        </p>
                      </div>
                    </div>
                    <%= link_to '', meal_path(meal), class: "card-link" %>
                </div>
              </div>
            <% end %>
          </div>

          <div class="col-xs-5">
            <div
              id="map"
              style="width: 100%; height: 100vh;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
            >
            </div>

            <% content_for :scripts do %>
              <%= javascript_pack_tag "map" %>
            <% end %>
          </div>
        </div>

      </div>
  </div>


