<div class="container-fluid">
  <div class= "row">

        <!-- Cards -->
          <div class="col-sm-7">

            <!-- full map button only visible on xs screens -->
            <div class="visible-xs-block">
              <%= link_to 'click here for map view', users_path, class: "btn btn-success map-button" %>
            </div>

            <% @meals.where(published: true).each do |meal| %>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="meal-card">
                  <div class="meal-card-image" style="background-image: url('<%= cl_image_path meal.pictures.first.url.url %>');">
                  </div>
                    <div class="meal-card-content">
                      <div class="meal-card-title">
                        <h4><%= meal.title %></h4>
                        <p> <i class="fas fa-utensils"></i> <%= meal.category %></p>
                      </div>
                      <div class="flex">
                        <p>Price: <%= humanized_money_with_symbol(meal.price) %>
                        </p>
                      </div>
                    </div>
                    <%= link_to '', meal_path(meal), class: "card-link" %>
                </div>
              </div>
            <% end %>
          </div>

        <!-- Map -->
          <div class="col-sm-5 hidden-xs">

            <div>
              <%= link_to 'View Map Full Screen', users_path, class: "btn btn-success map-button" %>
            </div>

            <div
              id="map"
              style="width: 100%; height: 100vh;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
            >
            </div>
          </div>
  </div>
</div>



<% content_for :scripts do %>
  <%= javascript_pack_tag "map" %>
<% end %>
