<div>
<div>
<div class="wrap">
<div col-xs-12 col-sm-4>

  <div class="container mt-3">

    <!-- Cards -->
    <div class="row">
    <% @meals.each do |meal| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="meal-card">
          <div class="meal-card-image" style="background-image: url('<%= cl_image_path meal.pictures.first.url.url %>');">
          </div>
            <div class="meal-card-content">
              <div class="meal-card-title">
                <h4><%= meal.title %></h4>
                <p> <i class="fas fa-utensils"></i> <%= meal.category %></p>
              </div>
              <div class="flex">
                <p>Price: <%= humanized_money_with_symbol(meal.price) %>
                </p>
              </div>
            </div>
            <%= link_to '', meal_path(meal), class: "card-link" %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
</div>
</div>

