<div class="container">
  <div class="row">

    <!-- left column -->
    <div class="col-xs-12 col-sm-6">
      <div class="coloredh1">
        <h1>The Meal</h2>
      </div>
    <!-- meal card -->
      <div class="mealreviews text-center">

        <!-- meal pic -->

        <div class="meal-card-image" style="background-image: url('<%= cl_image_path @meal.pictures.first.url.url %>');">
        </div>

        <!-- meal details -->
        <div class="profile-info">
          <h1><%= @meal.title %></h1>
              <div>
                    <div class="mealinfo">
                        <h2> <%= @meal.description %></h2>
                        <h4>Available servings:   <%= @meal.maxservings %></h4>
                        <h4>Price per portion:    <%= humanized_money_with_symbol(@meal.price) %></h4>
                        <h4>Ready in 30 minutes</h4>

                        <!-- buttons and options -->
                        <% unless @meal.published %>
                          <h3>This meal is not currently available</h3>
                        <% end %>

                        <% if user_signed_in? && @meal.user == current_user   %>
                          <div class="alignedbuttonsbox">
                              <div>
                              <%= link_to @meal.published ? "Unpublish" : "Publish!", publish_meal_path(@meal), method: :patch, class: "btn btn-success orderbtn" %>
                              </div>

                              <div>
                              <%= link_to 'Edit this meal', edit_meal_path(@meal), class: "btn btn-success" %>
                              </div>
                          </div>
                        <% end %>

                        <div>
                          <% if user_signed_in? && current_user.usertype == 'customer' && @meal.user != current_user %>
                          <h2>Please select number of servings:</h2>
                            <div >
                              <%= form_tag(meal_items_path(@meal), method: "post") do %>
                                  <div class='alignedbuttonsbox'>
                                  <%= number_field_tag(:quantity, nil, min: 0, max: @meal.maxservings) %>
                                  <%= submit_tag("Add to Order", class: "btn btn-success") %>
                                  </div>
                              <% end %>
                            </div>
                          <% end %>
                          </div>

                        <% if !user_signed_in? %>
                          <div>
                            <%= link_to 'Sign in to order', new_user_session_path, class: "btn  btn-success" %>
                          </div>
                        <% end %>
                </div>
            </div>
        </div>
      </div>
    </div>     <!-- end of left column -->



    <!-- right column -->
    <div class="col-xs-12 col-sm-6">

      <div class="coloredh1">
        <h1>The Cook</h2>
      </div>

      <!-- cook profile -->
      <div class="mealreviews">



        <div class="mealreviewscontent" >
           <!-- cook or user avatar -->
          <div>
            <% if user_signed_in? %>
              <%= link_to profile_path(@cook) do %>
              <%= cl_image_tag @cook.photo, class: "mediumavatar"%>
              <% end %>
            <% else %>
              <%= cl_image_tag @cook.photo, class: "mediumavatar"%>
            <% end %>
          </div>


          <div> <!-- cook or user name -->
          <% if @meal.user == current_user %>
            <h2> My Public Profile</h2>
          <% else %>
            <h2> <%= @cook.username.capitalize %></h2>
          <% end %>
                <p>member since :<%= @cook.created_at.strftime("%d/%m/%Y") %></p>
          </div>

       </div>


        <div class="mealreviewsheaders">
          <h2>Reviews from customer</h2>
        </div>

        <div class="mealreviewscontent" id="mealreviewscontentleft">
          <% if @cook.cook_reviews == [] %>
            <p>This cook has no reviews yet.</p>
          <% else  %>
            <% @cook.cook_reviews.each do |review|%>
                <div class="innermealreviews customizemalignedleft" >
                   <strong> <span style="color: #27b896; font-size: 25px;"><%= '*' * review.rating.to_i %></span> </strong>
                   <p>"<%=review.content %>"</p>
                </div>
                <% end %>
          <% end %>
        </div>

      </div>

      <!-- this cook's other meals -->
      <div class="mealreviews">

        <div class="mealreviewsheaders">
          <% if @meal.user == current_user %>
            <h2> My Meals</h2>
          <% else %>
            <h2> all meals by <%= @cook.username.capitalize %> </h2>
          <% end %>
        </div>

        <div class="mealreviewscontent" id="mealreviewscontentleft">
          <% @cook.meals.each do |meal| %>
                <div class="small-meal-card">
                  <div class="small-meal-card-image" style="background-image: url('<%= cl_image_path meal.pictures.first.url.url %>');">
                  </div>
                  <div class="small-meal-card-content">
                    <div class="meal-card-title">
                      <h4><%= link_to meal.title, meal_path(meal), :class => "text-dark" %></h4>
                      <p><%= meal.category %></p>
                      <p><i class="fas fa-utensils"></i>
                      Price: <%= humanized_money_with_symbol(meal.price) %>
                      </p>
                    </div>
                  </div>
                </div>
          <% end %>
        </div>

      </div>


    </div>    <!-- end of right column -->

  </div>     <!-- end of row -->
</div>     <!-- end of container -->


