<div class="wrapper">
  <div class="row">
    <div class="col-xs-12">
      <div class="product-img" style="background-image: url('<%= @meal.pictures.first %>')">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h2><%= @meal.title %></h2>
        <p>Description: <%= @meal.description %></p>
        <p>Category:<%= @meal.category %></p>
        <p>Available servings:<%= @meal.maxservings %></p>
        <p>Price per portion: <%= humanized_money_with_symbol(@meal.price) %></p>
      </div>

    <div id="carousel-meal-pictures" class="carousel slide" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        <% @meal.pictures.each_with_index do |pic, n| %>
          <li data-target='#MyCarousel' data-slide-to="#{n}" class="#{'active' if n == 0}"></li>
        <% end %>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active" style="background: url(<%= cl_image_path(@meal.pictures.first.url) %>) no-repeat center center; background-size: cover; height: 100%;">
        </div>

     <% @meal.pictures.drop(1).each do |pic| %>
      <div class="item" style="background: url(<%= cl_image_path(pic.url) %>) no-repeat center center; background-size: cover; height: 100%;">
      </div>
    <% end %>

  </div>
<a class="left carousel-control" href="#carousel-meal-pictures" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-meal-pictures" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




      <div class="buttons">
          <%= link_to 'Back to Meals', meals_path, class: "btn btn-primary" %>
      </div>

      <h2>Please select number of servings:</h2>
        <%= form_tag(meal_items_path(@meal), method: "post") do %>
        <%= number_field_tag(:quantity, options = {max: @meal.maxservings}) %>
        <%= submit_tag("Add to Order") %>
      <% end %>
    </div>
    </div>
  </div>
</div>





