  <div class="col-sm-offset-4 col-sm-4">
  <%= simple_form_for [@meal, @picture] do |p| %>
  <% if @picture.errors.any? %>
    <% @picture.errors.full_messages.each do |m| %>
      <p><%= m %></p>
    <% end %>
  <% end %>
  <h2>Upload photos of your meal</h2>
    <%= p.file_field :url %>
    <%= p.input :url_cache, as: :hidden %>
    <br>
    <%= p.submit "add this picture", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
