<h1>Reviews#create</h1>
<div class="banner_index">
  <div class=container>
<div class="row">

  <div class="col-sm-offset-4 col-sm-4">
  <%= simple_form_for [@meal, @review] do |f| %>
  <% if @review.errors.any? %>
    <% @review.errors.full_messages.each do |m| %>
      <p><%= m %></p>
    <% end %>
  <% end %>
  <h2>Review this meal</h2>
    <div class="buttons-inline">
    <%= f.input :rating, label: "Rating:", as: :radio_buttons, collection: (1..5), class: "buttons-inline" %>
    </div>
    <br>
    <%= f.input :content, label: "Description:" %>
    <%= f.submit "Submit Review", class: "btn btn-primary" %>
  <% end %>
  </div>
  </div>

